<div class="row container">
    <div class="row col-md-12">
        <div class="col-md-6">
            <div>
                <h1 style="color: #4f4f4f !important;">Naresh Donthula</h1>
                <h5 style="color: #4f4f4f !important;">Senior Software Engineer</h5>
                <p>7+ Years of experience in developing enterprice apllications using Java and Spring Boot. Good
                    Knowlendge in developing Rest Services. Experienced in developing web pages using Angular.
                </p>
            </div>
            <div class="row col-md-12">
                <button routerLink="/portfolio" class="button portfoliobutton col-md-6 mx-2 p-0"><fa-icon [icon]="faArrowCircleRight"></fa-icon> View Portfolio</button>
                <button routerLink="/resume" class="button resumebutton col-md-6"><fa-icon [icon]="faFile"></fa-icon> View
                    Resume</button>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="assets/developer1.gif"
                width="400" height="300" style="cursor: pointer;">
        </div>
    </div>
    <div class="row">
        <h2 style="border-left: 5px solid #55b689;">What I do</h2>
        <p>I have more than 7 years of experience in building software for clients, Below is a quick overview of
            my main technical skill set and technologies I use. Want to find out more Experience? check out my
            <a routerLink="/resume" style="color: #55b689 !important">online resume</a> and <a routerLink="/portfolio"
                style="color: #55b689 !important">project portfolio</a>.
        </p>

    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="assets/tech-icons/html-5.png" style="width: 30px;">
                        <img src="assets/tech-icons/css-3.png" style="width: 30px;">
                    </div>
                    <h5 class="card-title">HTML & CSS</h5>
                    <p class="card-text">
                        This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="assets/tech-icons/angular.png" style="width: 30px; margin: 0 2px 0 0;">
                        <img src="assets/tech-icons/physics.png" style="width: 30px; margin: 0 2px 0 0;">
                        <img src="assets/tech-icons/vue.png" style="width: 30px; margin: 0 2px 0 0;">
                        <img src="assets/tech-icons/js.png" style="width: 30px;">
                    </div>
                    <h5 class="card-title">Angular, React, Vue and Javascript</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="assets/tech-icons/java.png" style="width: 30px;">
                        <img src="assets/tech-icons/springboot.png" style="width: 30px;">
                    </div>
                    <h5 class="card-title">Java & SpringBoot</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="assets/tech-icons/gcp.png" style="width: 30px; margin: 0 2px 0 0;">
                        <img src="assets/tech-icons/aws.png" style="width: 30px;">
                    </div>
                    <h5 class="card-title">GCP & AWS</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex">
                        <img src="assets/tech-icons/mongodb.png" style="width: 30px; margin: 0 2px 0 0;">
                        <img src="assets/tech-icons/mysql.png" style="width: 30px;">
                    </div>
                    <h5 class="card-title">Mongo & SQL</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                </div>
            </div>
        </div>

    </div>

</div>