<div class="row container">
    <div class="row col-md-12 text-center">
        <h2 style="color: #4f4f4f !important;">Portfolio</h2>
        <p>Experienced freelancer skilled in Java Spring Boot, Angular, React, and cutting-edge web development
            technologies. Crafting top-notch web applications with a passion for innovation. and feel free to get in
            touch if you want to work with me.
        </p>
    </div>
    <div class="text-center">
        <button routerLink="/contact" class="button resumebutton"><fa-icon [icon]="faHandPointRight"></fa-icon> Get In Touch</button>
    </div>
</div>