<div class="row text-center provile-nav">
    <div>
        <h2>Naresh Donthula</h2>
        <br>
        <p>
            <img src="https://d13m95frd7cvoq.cloudfront.net/ProfileImg/659ec2e9-7a59-490b-bf1e-34a19d9f6027/9666198798-cropped.jpg"
                style="border-radius: 50%; cursor: pointer; width: 100px; height: 100px;">
        </p>

        <p>Hi, I am a Senior Software.
            Welcome to my personal website!</p>

    </div>
    <div class="row center">
        <img src="assets/social-icons/icon-google.png">
        <img src="assets/social-icons/icon-linkedin.png">
        <img src="assets/social-icons/icon-github.png">
        <img src="assets/social-icons/icon-twitter.png">
    </div>

    <div style="text-align: left; margin-top: 2vw;">
        <ul class="navbar-nav flex-column text-start">
            <li class="nav-item">
                <a routerLink="/about" class="side-menu-text" routerLinkActive="active"><fa-icon [icon]="faUser"></fa-icon>&nbsp; About
                    me</a>
            </li>
            <li>
                <a routerLink="/portfolio" class="side-menu-text" routerLinkActive="active"><fa-icon [icon]="faLaptop"></fa-icon>&nbsp;
                    Portfolio</a>
            </li>
            <li>
                <a routerLink="/services" class="side-menu-text" routerLinkActive="active"><fa-icon [icon]="faBriefcase"></fa-icon>&nbsp;
                    Services &
                    Pricing</a>
            </li>
            <li>
                <a routerLink="/resume" class="side-menu-text" routerLinkActive="active"><fa-icon [icon]="faFile"></fa-icon>&nbsp; Resume</a>
            </li>
            <li>
                <a routerLink="/contact" class="side-menu-text" routerLinkActive="active"><fa-icon [icon]="faPhone"></fa-icon>&nbsp;
                    Contact</a>
            </li>
        </ul>
    </div>
    <div class="row" style="text-align: center; width: 150px; padding: 15px;">
        <button class="button hire-me"><fa-icon [icon]="faPaperPlane"></fa-icon> &nbsp;Hire me</button>
    </div>
</div>