<div class="container">
    <div class="text-center">
        <h2 style="color: #4f4f4f !important;">Online Resume <fa-icon [icon]="faDownload" style="color: #55b689; cursor: pointer;" (click)="convetToPDF()" title="Download Resume"></fa-icon></h2>
        <!-- <button class="button portfoliobutton" ><fa-icon [icon]="faFile"></fa-icon> Download PDF Version</button> -->
    </div>
    <div class="row col-md-12" id="contentToConvert">
        <div class="container resume-container px-3 px-lg-5">
            <article class="resume-wrapper mx-auto theme-bg-light p-5 mb-5 my-5 shadow-lg">

                <div class="resume-header">
                    <div class="row align-items-center">
                        <div class="resume-title col-12 col-md-6 col-lg-8 col-xl-9">
                            <h2 class="resume-name mb-0 text-uppercase">Naresh Donthula</h2>
                            <div class="resume-tagline mb-3 mb-md-0">Senior Software Engineer</div>
                        </div>
                        <div class="resume-contact col-12 col-md-6 col-lg-4 col-xl-3">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i class="fa fa-phone-square fa-fw fa-lg me-2 "></i><a
                                        class="resume-link" href="tel:#">+91 9666198798</a></li>
                                <li class="mb-2"><i class="fa fa-envelope-square fa-fw fa-lg me-2"></i><a
                                        class="resume-link" href="mailto:#">nareshd.work&#64;gmail.com</a></li>
                                <li class="mb-0"><i class="fa fa-map-marker fa-fw fa-lg me-2"></i>Hyderabad, India
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="resume-intro py-3">
                    <div class="row align-items-center">
                        <div class="col text-start">
                            <p class="mb-0"> I am a senior software developer with extensive experience in Java, Angular, SpringBoot, SQL etc.,.
                                 Expertise spans both front-end and back-end development, enabling you to build robust and scalable applications.
                                  I have good experience in integrating various technologies and frameworks. I am adept at problem-solving and continuously learning to stay updated with industry trends and advancements. </p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="resume-body">
                    <div class="row">
                        <div class="resume-main col-12 col-lg-8 col-xl-9   pe-0   pe-lg-5">
                            <section class="work-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Work Experiences</h3>
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Senior Software
                                            Engineer</h4>
                                        <div
                                            class="item-meta col-12 col-md-6 col-lg-6 text-muted text-start text-md-end">
                                            Google | 2022 - Present</div>

                                    </div>
                                    <div class="item-content">
                                        <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede
                                            justo, fringilla vel. Lorem ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                            quam felis.</p>
                                        <ul class="resume-list">
                                            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                                            <li>Aenean commodo ligula eget dolor.</li>
                                            <li>Etiam ultricies nisi vel augue.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Software
                                            Developer</h4>
                                        <div
                                            class="item-meta col-12 col-md-6 col-lg-6 text-muted text-start text-md-end">
                                            Emagia | 2021 - 2022</div>

                                    </div>
                                    <div class="item-content">
                                        <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                                            quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede
                                            justo, fringilla vel.</p>
                                        <ul class="resume-list">
                                            <li>Lorem ipsum dolor sit amet, consectetuer.</li>
                                            <li>Aenean commodo ligula eget dolor.</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0"> Software
                                            Developer</h4>
                                        <div
                                            class="item-meta col-12 col-md-6 col-lg-6 text-muted text-start text-md-end">
                                            Vsaas Technologies | 2014 - 2016</div>

                                    </div>
                                    <div class="item-content">
                                        <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Software Developer
                                        </h4>
                                        <div
                                            class="item-meta col-12 col-md-6 col-lg-6 text-muted text-start text-md-end">
                                            Mantra Technologies | 2013 - 2014</div>

                                    </div>
                                    <div class="item-content">
                                        <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus. </p>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-6 mb-2 mb-md-0">Associate Software Engineer
                                        </h4>
                                        <div
                                            class="item-meta col-12 col-md-6 col-lg-6 text-muted text-start text-md-end">
                                            Vssas Technologies | 2014 - 2016</div>

                                    </div>
                                    <div class="item-content">
                                        <p>Role description goes here ipsum dolor sit amet, consectetuer adipiscing
                                            elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                               
                            </section>


                            <section class="project-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Projects</h3>
                                <div class="item mb-3">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">Google Automation Tool Hub
                                        </h4>
                                       
                                    </div>
                                    <div class="item-content">
                                        <p>You can use this section for your side projects. You can <a href="#"
                                                class="theme-link">provide a project link here</a> as well. Lorem ipsum
                                            dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget
                                            dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                                            montes, nascetur ridiculus mus.</p>


                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">1o1 Fitness</h4>
                                       
                                    </div>
                                    <div class="item-content">
                                        <p>You can use this section for your side projects. Cras dapibus. Vivamus
                                            elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                            porttitor eu, consequat vitae, eleifend ac, enim.</p>

                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item-heading row align-items-center mb-2">
                                        <h4 class="item-title col-12 col-md-6 col-lg-8 mb-2 mb-md-0">V-Bills
                                        </h4>
                                       

                                    </div>
                                    <div class="item-content">
                                        <p>You can use this section for your side projects. Cras dapibus. Vivamus
                                            elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
                                            porttitor eu, consequat vitae, eleifend ac, enim.</p>

                                    </div>
                                </div>
                            </section>
                        </div>
                        <aside class="resume-aside col-12 col-lg-4 col-xl-3 px-lg-4 pb-lg-4">
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
                                <div class="item">
                                    <h4 class="item-title">Technical</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        <li class="mb-2">JavaScript/Angular</li>
                                        <li class="mb-2">Java/Spring/SprinBoot</li>
                                        <li>
                                        </li>
                                        <li class="mb-2">Node.js</li>
                                        <li class="mb-2">MySQL/MongoDB</li>
                                        <li class="mb-2">Object-oriented design</li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <h4 class="item-title">Professional</h4>
                                    <ul class="list-unstyled resume-skills-list">
                                        <li class="mb-2">Good communication</li>
                                        <li class="mb-2">Team player</li>
                                        <li>
                                        </li>
                                        <li class="mb-2">Problem solver</li>
                                        <li>Good time management</li>
                                    </ul>
                                </div>
                            </section>
                            <section class="education-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
                                <ul class="list-unstyled resume-education-list">
                                    <li class="mb-3">
                                        <div class="resume-degree font-weight-bold">BTech in Electronics and Communication</div>
                                        <div class="resume-degree-org text-muted">JNTU Hyderabad</div>
                                        <div class="resume-degree-time text-muted">2012 - 2016</div>
                                    </li>
                                    <li>
                                        <div class="resume-degree font-weight-bold">Intermidiate Maths and Physics</div>
                                        <div class="resume-degree-org text-muted">Board Of Intermediate Telangana</div>
                                        <div class="resume-degree-time text-muted">2010 - 2012</div>
                                    </li>
                                </ul>
                            </section>
                            
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
                                <ul class="list-unstyled resume-lang-list">
                                    <li class="mb-2">Telugu <span class="text-muted">(Native)</span></li>
                                    <li>Hindi</li>
                                    <li>English <span class="text-muted">(Professional)</span></li>
                                </ul>
                            </section>
                            <section class="skills-section py-3">
                                <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
                                <ul class="list-unstyled resume-interests-list mb-0">
                                    <li class="mb-2">Reading Books</li>
                                    <li>Travelling</li>
                                </ul>
                            </section>

                        </aside>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>